<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @tweets.each do |tweet| %>
    <%# 使用するファイルが同じディレクトではない(tweetsディレクト)であるため、どこのディレクトリの部分テンプレートかを指定 %>
    <%= render partial: "tweets/tweet", locals: {tweet: tweet} %>
    </div>
  <% end %>
</div>